
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Liter&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bubblegum Sans", serif;
}

body{
    background-image: url(pirates.jpg);
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
}

#game-body{
    height: 90vh;
    width: 100vw;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
}

#game-images{
    height: 30vh;
    width: 50vw;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-around;
}


#pirate{
    height:30vh;
    width: 30vh;
    /* border: 1px solid white; */
}

#pirate img{
    height: 100%;
    width: 100%;
}


#title-div{
    height: 30vh;
    flex: 1;
    /* border: 1px solid white; */
    /* font-size: 80px; */
    /* text-align: center; */
    color: #FFD700;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

#title1{
    height: 15vh;
    width: 100%;
    /* border: 1px solid ; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
   
}

#title2{
    height: 15vh;
    width: 100%;
    /* border: 1px solid ; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    /* color: #D4AF37; */
}
#tagline{
    height: 10vh;
    width: 50vw;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 30px ;
    text-shadow: rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

#end-bar{
    height: 10vh;
    width: 100vw;
    /* border: 1px solid white; */
    display: flex;
}

#bgm{
    height: 7vh;
    width: 7vh;
    border: 2px solid whitesmoke;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 50%;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#sound-on{
    height: 75%;
    width: 75%;
}

#sound-off{
    height: 75%;
    width: 75%;
    display: none;
}


#storyline{
    height: 20vh;
    width: 50vw;
    /* border: 1px solid white; */
    font-size: 25px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 5px #000;
}

.hidden{
    opacity: 0;
    transition: opacity 1s ease-in;
}

.fade-in{
    opacity: 1;

}

#play-btn{
    height: 20vh;
    width: 15vw;
    /* border: 1px solid white; */
    position: relative;
    transition: transform 0.3s;
    opacity: 0; 
    transform: translateY(100px);
    transition: opacity 0.3s ease;
    
}

#play-btn img{
    height: 100%;
    width: 100%;
    
}

#play-btn div{
    font-size: 32px;
    position: absolute;
    bottom: 15px;
    left: 60px;
    color: #32CD32;
    text-shadow: 2px 2px 5px #000;
    cursor: pointer;
}


@keyframes bounce-in {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    60% {
        transform: translateY(-20px);
        opacity: 1;
    }
    80% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.bounce {
    animation: bounce-in 1s ease-out forwards;

}

#game-screen{
    height: 60vh;
    width: 90vw;
    /* border: 1px solid white; */
    display: flex;
}

#ship{
    height: 100%;
    width: 25vw;
    /* border: 1px solid white; */
}
#game{
    height: 100%;
    width: 45vw;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: black;
}
#treasure{
    height: 100%;
    width: 20vw;
    /* border: 1px solid white; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#attempts{
    height: 8vh;
    min-width: 20vw;
    max-width: max-content;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: navy;
    background-color:  #cd8032b1;
    padding: 0px 5px;
}
#guess-field{
    height: 8vh;
    width: 20vw;
    border-radius: 12px;
    text-align: center;
    outline: none;
    border: none;
    font-size: 28px;
    background-color: rgba(0, 0, 0, 0.623);
    color:#FFD700
}

#guess-field::placeholder{
    font-size: 26px;
    color: rgba(0, 0, 0, 0.552);
}

#guess-field:focus{
    border:3px solid #32CD32;
}

#subt{
    height: 8vh;
    width: 20vw;
    border-radius: 12px;
    text-align: center;
    font-size: 24px;
    outline: none;
    border: none;
    /* background-color: #B6862D; */
    background-color: #35a863;
    color: #FFF5E1;
    cursor: pointer;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
    border: 2px solid black;

}


#subt:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

#subt:active {
    transform: scale(0.95);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}



#hint{
    height: 8vh;
    min-width: 20vw;
    max-width: max-content;
    /* border: 1px solid white;ad */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: #8b5e3cd1;
    color: #FFF5E1;
    font-size: 18px;
    padding: 0px 15px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

.pulse{
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

#prev-array{
    height: 8vh;
    min-width: 13vw;
    max-width: max-content;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 12px;
    background-color: #DCCB98;
    color: #4B3B2B;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.3);
    padding: 0px 5px;

}

#start-over{
    height: 9vh;
    width: 15vw;
    margin-left: 40.5vw;
    border-radius: 12px;
    border: none;
    outline: none;
    background-color: #D2691E;
    font-size: 26px;
    color: black;
    cursor: pointer;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
}
#start-over:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

#start-over:active {
    transform: scale(0.95);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#opened{
    display:none
}

#ship-sank{
    display: none;
}

@keyframes shake{
    0% {transform: translateX(0);}
    20% {transform: translateX(-10px);}
    40% {transform: translateX(10px);}
    60% {transform: translateX(-10px);}
    80% {transform: translateX(10px);}
    100% {transform: translateX(0);}
    
}
.shaking {
    animation: shake 0.5s ease-in-out 2;
  }

@keyframes sink{
    0% {transform: translateY(0) rotate(0deg); opacity: 1;}
    100% {transform: translateY(100px) rotate(15deg); opacity: 0;}
}
.sinking {
    animation: sink 3s forwards;
  }


.lost-chest{
    filter: grayscale(100%);
    transition: all 0.5s ease;
}

.shake{
    animation: shake 0.5s;
    animation-iteration-count: 3;
}
  